[Desktop Entry]
Name=Cursor (1.4.2) (1)
Comment=The AI Code Editor.
GenericName=Text Editor
Exec=/home/jeremy/Applications/cursor_698a0f75d60a916890fb63184cfc41b8.appimage %F
Icon=appimagekit_a764a6b7086c3fabc61177e15f047414_co.anysphere.cursor
Type=Application
StartupNotify=false
StartupWMClass=Cursor
Categories=TextEditor;Development;IDE;
MimeType=application/x-cursor-workspace;
Actions=Remove;Update;
Keywords=cursor;

X-AppImage-Version=1.4.2

TryExec=/home/jeremy/Applications/cursor_698a0f75d60a916890fb63184cfc41b8.appimage
X-AppImage-Old-Icon=co.anysphere.cursor
X-AppImage-Old-Name=Cursor
X-AppImage-Identifier=a764a6b7086c3fabc61177e15f047414
X-AppImageLauncher-Version=2.2.0 (git commit 9ca001e), built on 2025-07-29 06:45:26 UTC
[Desktop Action new-empty-window]
Name=New Empty Window
Name[cs]=Nové prázdné okno
Name[de]=Neues leeres Fenster
Name[es]=Nueva ventana vacía
Name[fr]=Nouvelle fenêtre vide
Name[it]=Nuova finestra vuota
Name[ja]=新しい空のウィンドウ
Name[ko]=새 빈 창
Name[ru]=Новое пустое окно
Name[zh_CN]=新建空窗口
Name[zh_TW]=開新空視窗
Exec=/home/jeremy/Applications/cursor_698a0f75d60a916890fb63184cfc41b8.appimage --new-window %F
Icon=appimagekit_a764a6b7086c3fabc61177e15f047414_co.anysphere.cursor

X-AppImage-Old-Icon=co.anysphere.cursor

[Desktop Action Remove]
Name=Remove AppImage from system
Icon=AppImageLauncher
Exec=/usr/lib/appimagelauncher/remove "/home/jeremy/Applications/cursor_698a0f75d60a916890fb63184cfc41b8.appimage"
Name[ast]=Desaniciar AppImage del sistema
Name[cs]=Odebrat AppImage ze systému
Name[de]=AppImage vom System entfernen
Name[en]=Remove AppImage from system
Name[es]=Eliminar Appimage del Sistema
Name[fr]=Supprimer l'AppImage du système
Name[it]=Rimuovi AppImage dal sistema
Name[nl]=AppImage deïnstalleren
Name[pl]=Usuń AppImage z systemu
Name[pt]=Remover AppImage do sistema
Name[pt_PT]=Remover AppImage do sistema
Name[ru]=Удалить AppImage из системы
Name[zh_Hans]=从系统中移除 AppImage

[Desktop Action Update]
Name=Update AppImage
Icon=AppImageLauncher
Exec=/usr/lib/appimagelauncher/update "/home/jeremy/Applications/cursor_698a0f75d60a916890fb63184cfc41b8.appimage"
Name[ast]=Anovar AppImage
Name[cs]=Aktualizovat AppImage
Name[de]=AppImage aktualisieren
Name[en]=Update AppImage
Name[es]=Actualizar Appimage
Name[fr]=Mettre à jour l'AppImage
Name[it]=Aggiorna AppImage
Name[nl]=AppImage bijwerken
Name[pl]=Uaktualnij AppImage
Name[pt]=Actualizar AppImage
Name[pt_PT]=Atualizar AppImage
Name[ru]=Обновить AppImage
Name[zh_Hans]=更新 AppImage
