[Desktop Entry]
Version=1.0
Type=Application
Name=Zed Preview
GenericName=Text Editor
Comment=A high-performance, multiplayer code editor.
TryExec=/usr/lib/zed/zed-editor
StartupNotify=true
Exec=zeditor %U
Icon=/usr/share/icons/zed.png
Categories=Utility;TextEditor;Development;IDE;
Keywords=zed;
MimeType=text/plain;application/x-zerosize;x-scheme-handler/zed;
Actions=NewWorkspace;

[Desktop Action NewWorkspace]
Exec=zeditor %U
Name=Open a new workspace
