[Desktop Entry]
Version=1.0
Name=Todoist
Comment=Todoist task management app
GenericName=Task Manager
Exec=/home/jeremy/.local/bin/todoist-toggle
StartupNotify=true
Terminal=false
Icon=todoist
Type=Application
Categories=Office;ProjectManagement;
StartupWMClass=todoist.com
MimeType=x-scheme-handler/todoist;x-scheme-handler/com.todoist;
