[Desktop Entry]
Type=Application
Name=Kindle
MimeType=application/x-wine-extension-azs;
Exec=env "WINEPREFIX=/home/jeremy/.wine" wine start /ProgIDOpen "Amazon.Kindle.content" %f
NoDisplay=true
StartupNotify=true
Icon=C9D2_Kindle.0
